extends layout

block contentHead
	script( type="text/javascript" src="/socket.io/socket.io.js" )
	script( type="text/javascript" src="/js/admin-monitoring.js" )

block content
	h3 Monitoring

	div.align-center
		div#server-status
			p.server.pull-left Server Status :
			p.status.label.label-success.pull-left Normal
		div#cpu-usage.monitoring-block
			div.usage-current
				div.usage-block
					p.usage-title CPU Usage
					div.usage-status
						div.usage-chart
							div.free
							div.usage
						p.usage-percentage 0%
			div.usage-history
				div.usage-block
					p.usage-title CPU Usage History
					div.usage-status
						div.usage-graph
							canvas#cpu-usage-graph

		div#mem-usage.monitoring-block
			div.usage-current
				div.usage-block
					p.usage-title Memory
					div.usage-status
						div.usage-chart
							div.free
							div.usage
						p.usage-percentage 0GB
			div.usage-history
				div.usage-block
					p.usage-title Memory Usage History
					div.usage-status
						div.usage-graph
							canvas#mem-usage-graph

