.registration-form {
  p.registration-title {
    margin: 0 0 15px 0;
    color: #244078;
    font-size: 24px;
  }

  .btn.btn-next{
    font-size: 18px;
    padding: 0;
  }

  .btn-option-40 {
    width: 40%;
  }

  .btn-option-20 {
    width: 20%;
  }

  #signup-title {
    font-size: 16px;
    color: #21396d;
    margin: 15px 0;
  }

  .list-school{
    margin: 11px auto 10px;
    overflow-y: scroll;
    height: 170px;

    li {

    }

    p {
      font-size: 16px;
    }
  }

  .form-control {
    text-align: left;
  }

  .btn-map,
  .btn-add-manually{
      font-size: 16px;
  }

  .btn-browse {
    font-size: 14px;
  }
}

.link-sign-in {
  display: inline-block;
  float: right;
  font-size: 13px;
  color: #f68923;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  margin-top: 5px;

  &:hover, &:focus{
    color: #f68923;
  }
}

.registration-photo {
  width: 160px;
  height: 160px;
  border: 2px solid #fff;
  display: block;
  margin: 0 auto;

  @include border-radius(50%);
}

p.registration-photo-size {
  font-size: 14px;
  color: #1c315a;
  text-align: center;
}

.btn-option.btn-option-30 {
  width: 30%;
}

.btn-option.btn-option-70 {
  width: 70%;
}

p.registration-success {
  text-align: center;
  font-size: 16px;
  color: #21396d;
}