extends layout

block content
	div.margin-top-50
		div.col-sm-4.show-sm
			img.pull-right( src="/images/success.png" style="width:60px;margin-top:7px" )
		div.col-sm-8.align-center-sm
			h2 Your account is activated!

block contentScript
	script
		| $(document).ready(function(){
		| 	setTimeout(
		| 		function(){
		| 			$(location).attr('href', '/');
		| 		},
		| 		1000
		| 	);
		| });

