extends layout

block contentHead
	script( type="text/javascript" src="/js/bootstrap.min.js" )
	script( type="text/javascript" src="/js/validator.min.js" )
	
block content
	div.container-fluid
		h1 Hello World!
		p Resize the browser window to see the effect.
		div.row
			div.col-sm-3 col-sm-4
			div.col-sm-3 col-sm-4
			div.col-sm-3 col-sm-4
			div.col-sm-3 col-sm-4
		
		div.row
			div.col-sm-3 col-sm-4
			div.col-sm-3 col-sm-4
			div.col-sm-3 col-sm-4
			div.col-sm-3 col-sm-4
			