extends layout

block contentHead
	script( type="text/javascript" src="/js/validator.min.js" )
	script( type="text/javascript" src="/js/forgotPassword.js" )

block content
	div.top-nav.container-fluid
		div.row
			nav
				ul
					li.nav-item
						a(href="/")
							i.nav-item-icon.nav-item-icon-home
							span Home
					li.nav-item
						a(href="/myclass")
							i.nav-item-icon.nav-item-icon-class
							span My Class
					li.nav-item
						a(href="/lessons")
							i.nav-item-icon.nav-item-icon-lessons
							span Lessons
					li.nav-item
						a(href="/tests")
							i.nav-item-icon.nav-item-icon-tests
							span Tests
	div.content-wrapper.container-fluid.home-background
		div.row
			img(class="logo-big img-responsive" src="/images/logo-big.png", alt="")
			form.form-350.signin-form
				h2.form-header
						span Reset Password
				div.form-content
					div.form-group
						input#email.form-control( type="email" placeholder="Email" name="email" data-error="Email address is invalid." autofocus required)
						div.help-block.with-errors
					div#alert-block
					button.btn.btn-lg.btn-primary.btn-block.forgot-password-btn( type="button" onclick="resetPassword()" ) Submit
	
	div#wait.hidden
		p.wait-mark.label.label-success
			span.wait-animate.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			| &nbsp;&nbsp;Please wait...
