extends layout

block contentHead
	script( type="text/javascript" src="/js/validator.min.js" )
	script( type="text/javascript" src="/js/password.js" )

block content
	div.col-sm-8.profile
		h2.text-muted Change Password
		div#alert-block
		div.profile-edit
			form
				div.form-group
					p.profile-label Old Password
					div.profile-content
						input#old-password.form-control( type="password" placeholder="Old Password" name="old-password" pattern="[^ ]*" autofocus required )
				div.form-group
					p.profile-label New Password
					div.profile-content
						input#new-password.form-control( type="password" placeholder="New Password" name="new-password" pattern="[^ ]*" data-minlength="6" data-error="New password should have minimum length of 6 chars." required )
						div.help-block.with-errors
				div.form-group
					p.profile-label Confirm Password
					div.profile-content
						input#confirm-password.form-control( type="password" placeholder="Confirm Password" name="confirm-password" data-match="#new-password" data-match-error="New passwords not match." required )
						div.help-block.with-errors

				button.btn.btn-default.btn-profile( type="button" onclick="changePassword()" ) Change Password

	div#wait.hidden
		p.wait-mark.label.label-success
			span.wait-animate.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			| &nbsp;&nbsp;Please wait...
