#rich-editor.hidden.rich-editor
  #toolbar.ql-toolbar.ql-snow
    span.ql-format-group
      button.ql-format-button.ql-bold(title='Bold')
      span.ql-format-separator
      button.ql-format-button.ql-italic(title='Italic')
      span.ql-format-separator
      button.ql-format-button.ql-underline(title='Underline')
      span.ql-format-separator
      button.ql-format-button.ql-strike(title='Strikethrough')
    span.ql-format-group
      select.ql-size
        option(value='10px') Small
        option(value='13px', selected) Normal
        option(value='18px') Large
        option(value='32px') Huge
  #full-editor.editor