// sizes
$navbar-height: 69px;
$container-width: 1200px;

// colors
$header-gradient-start: #0f0b10;
$header-gradient-end: #242424;
$top-nav: #d5dce6;
$top-nav-text: #838383;
$top-nav-text-active: #ffffff;
$top-nav-active: #f68923;

$main-sidebar-bg: #ebeff3;
$main-sidebar-menu-bg: #ebeff3;
$main-sidebar-menu-bg-active: #f68923;
$main-sidebar-menu-border: #dde4e9;
$main-sidebar-menu-active-border: #e69242;